<div class="container">
  <h1>Booking request</h1>
  <br>
  <p><strong>Dates</strong></p>
  <p>From <%= @booking.starting_date %> to <%= @booking.ending_date %></p>
  <br><br>
  <h3>Your vehicule</h3>
  <p><%= @booking.car.brand %></p>
  <br><br>
  <h3>Price details</h3>
  <p>Total : <%= @booking.total_price %></p>
  <br><br>
  <h3>Request status</h3>
  <div>
    <%= simple_form_for(@booking) do |f| %>
    <%= f.input :status %>
    <%= f.submit %>
    <% end %>
  </div>

</div>
