<%# TO DO : front-end + add info %>

<div class="container">
  <h2 class="title"><strong> Welcome <%= current_user.first_name%> <%=current_user.last_name %></strong></h2>
  <br>
  <h3 class="title">Account informations</h3>
  <div>
      <h6><strong>Username: </strong><%=current_user.username%></h6>
      <h6><strong>Email: </strong><%=current_user.email%></h6>
  </div>

  <br><br>

  <h3 class="title">Booking requests</h3>
  <% current_user.bookings.each do |booking| %>
  <div class="card mb-3 rounded shadow" style="max-width: 540px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img src=<%= booking.car.picture_url %>  class="img-fluid rounded-start request-card-picture" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title"><strong><%= booking.car.brand %></strong></h5>
          <p class="card-text"><small class="text-body-secondary">From <%= booking.starting_date.strftime("%d/%m/%Y") %> to <%= booking.ending_date.strftime("%d/%m/%Y") %></small></p>
          <p class="card-text">Total price: <strong>$<%= ((booking.ending_date - booking.starting_date) * booking.car.price).to_i %></strong>     <em>($<%= booking.car.price %>/day)</em></p>
          <% if booking.status == "Pending" %>
            <p class="card-text"><%= booking.status %></p>
          <% elsif booking.status == "Accepted" %>
            <p class="card-text" id="status-a"><%= booking.status %></p>
          <% else booking.status == "Rejected" %>
            <p class="card-text" id="status-r"><%= booking.status %></p>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <% end %>

</div>
