<div class="search_container">
  <div class="row justify-content-center search">
    <div class="col-sm-8 my-3">
      <%= form_with url: cars_path, method: :get, class: "d-flex my-3" do %>
        <%= text_field_tag :query,
              params[:query],
              class: "form-control",
              placeholder: "Find a car"
        %>

        <%= date_field_tag :date_query,
            params[:date_query],
            class: "form-control",
            placeholder: "Find a car"
        %>

          <%= date_field_tag :end_date_query,
            params[:end_date_query],
            class: "form-control",
            placeholder: "Find a car"
          %>

        <%= submit_tag "Search", name: "", class: "btn btn-primary" %>
        <% end %>
    </div>
  </div>
</div>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-9">
      <div id="cars" class= "index-cards">
        <% if @cars.any? %>
          <% @cars.each do |car| %>
            <div class="card" style="width: 18rem;">
            <div class="car-picture">
              <% if car.photo.attached? %>
                <%= cl_image_tag(car.photo.key, size: "286x160") %>
              <% else %>
                <%= image_tag(car.picture_url, size: "286x160") %>
              <% end %>
              </div>
              <div class="card-body">
                <h5 class="card-title text-center"><%= car.brand %></h5>
                <p class="text-center"><em><%= car.category %></em></p>
                <p>$<%= car.price %>/day</p>
                <h6>from <%= car.start_availability%> to <%= car.end_availability %></h6>
                <%=link_to 'See details', car_path(car), class:"btn btn-primary mt-2"%>
              </div>
            </div>
          <% end %>
        <% else %>
          <em>Sorry, no cars found.</em>
        <% end %>
      </div>
    </div>
  </div>
</div>


<%# , params: {strat: ..., end: ...} %>
<%#
to be added to the path link_to see details %>

<%# car_path(car,params:{params[:end_date_query], params[:date_query] } %>
