<h1 class="title">Add information about you car</h1>

<%= simple_form_for @car do |f| %>
  <%= f.input :brand %>
  <%= f.input :category, collection: Car::CATEGORIES %>
  <%= f.input :location %>
  <%= f.input :start_availability %>
  <%= f.input :end_availability %>
  <%= f.input :price %>
  <%= f.submit "Add a new car", class: "btn btn-primary" %>
<% end %>
