<div class="container">
  <div>
    <h1><strong><%= @car.brand %></strong></h1>
  </div>

  <div class="row">

    <div class = "col-7">
      <%= image_tag @car.picture_url, class: "img-fluid" %>
    </div>

    <div class = "col-5 border border-dark bg-dark text-white">
      <h3><em><%= @car.category%></em></h3>
      <div>Location: <%= @car.location %></div>
      <div>Available from <%= @car.start_availability %> to <%= @car.end_availability%> </div>
    </div>
  </div>

  <div class = "mt-3">
    <% if @car.user != current_user %>
      <%= link_to "Request Booking", new_car_booking_path(@car), class:"btn btn-outline-primary" %>
    <% end %>
  </div>
</div>
