<div class="container">
<h1><strong><%= @car.brand %></strong></h1>
<ul>
    <li>category: <%= @car.category %></li>
    <li>location: <%= @car.location %></li>
    <li>start_availability: <%= @car.start_availability %></li>
    <li>end_availability: <%= @car.end_availability%></li>
    <li><%= image_tag @car.picture_url %></li>
</ul>
</div>
