<div class="container">
  <h1><strong><%= @car.brand %></strong></h1>

  <div class = "col-8">
    <%= image_tag @car.picture_url, class: "img-fluid" %>
  </div>

  <div><%= @car.category %></div>
  <div>Location: <%= @car.location %></div>
  <div>Available from <%= @car.start_availability %> to <%= @car.end_availability%> </div>



  <div>
    <% if @car.user != current_user %>
      <%= link_to "Request Booking", new_car_booking_path(@car), class:"btn btn-primary" %>
    <% end %>
  </div>
</div>
