<h1>the detais of my car</h1>
<ul>
    <li><strong>Brand: </strong><%= @car.brand %></li>
    <li>category: <%= @car.category %></li>
    <li>location: <%= @car.location %></li>
    <li>start_availability: <%= @car.start_availability %></li>
    <li>end_availability: <%= @car.end_availability%></li>
</ul>
